h1, h2, h3, h4, h5, h6, p{
	color: white;
	font-family: 'Roboto', sans-serif;
}

.baldo
{
	font-weight: bolder;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: 000000;
}

head{
	color: red;
}



nav
{
	display: flex;
	height: 80px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav .menu
{
	display: block;
	justify-content: space-between;
	flex-direction: row;
}


.safe-area{
	height: 100;
	background-color: 161616;
	padding-top: 20;
	display: block;
}

.now
{
	text-decoration: underline;
}

.menu-title
{
	font-family: 'Roboto', sans-serif;;
	font-size: 30pt;
	text-align: left;
	color: white;
	margin: 25;
}

.menu-item{
	font-family: 'Roboto', sans-serif;;
	font-size: 20pt;
	text-align: right;
	color: white;
	font-weight: light;
	margin: 25;
}


a:focus{
	font-weight: bolder;
}


.content
{
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	margin-top: 25;
	margin-bottom: 25;
	margin-left: 20px;
	margin-right: 20px;
	min-height: 100vh;
}

.newcontent
{
	display: flex;
	position: relative;
	margin-top: 45;
	margin-bottom: 35;
	margin-left: 20px;
	margin-right: 20px;
	min-height: 90vh;
}


.sinis
{
	float: left;
	width: 30vh;
}

.works
{
	margin-left: 30vh;
	margin-right: 6vh;
	width: 80vh;
}

.des
{
	float: right;
	width: 30vh;
}


.media
{
	width: 80%;
	object-position: center;
	margin-top: 20;
	margin-bottom: 20;
}

.minimedia
{
	width: 180%;
	margin-bottom: 20;
}

.footer
{
	position: absolute;
	width: 100%;
	font-size: 20pt;
	padding-top: 50;
	padding-bottom: 50;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: white;
	background-color: 161616;
}

a{
	text-decoration: none;
}


